@model BookStore.Models.Cart
<div class="container align-items-center">
@if (Model == null || Model.CartItems == null || !Model.CartItems.Any())
{
    <div class="text-center mt-5">
        <img src="~/images/Empty/EmptyCart.png" width="80%" height="500">
        <h4>Your cart is empty</h4>
    </div>
}


  
else {
    
        <div>
        <table class="table" width="100%">
            <thead >
                <tr>
                <th>Image</th>
                <th>Title</th>
                <th>price</th>
                <th>Update</th>
                <th>Select</th>
                </tr>
            </thead>
            <tbody>
    @foreach (var ci in Model.CartItems)
    {
        if (ci !=null)
        { <tr>

                            <td width="200px">
                                <img src=@ci.book.ImagePath
                                     style="width:50px;height:50px;object-fit:cover;margin-right:15px;border-radius:5px;">
                            </td>
                            <td> @ci.book.Title</td>
                            <td> @ci.Price</td>
                            <td><a class="btn btn-secondary" name="BookId" asp-action="Remove" asp-controller="cartItems" asp-route-BookId="@ci.book.BookID">-</a>
                                @ci.Quanitity
                                <a class="btn btn-secondary" name="BookId" asp-action="Add" asp-controller="cartItems" asp-route-BookId="@ci.book.BookID">+</a>
                            </td>
                <td>
                  
                 
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" asp-for="@ci.Check">
                        <label class="form-check-label" for="exampleCheck1" ></label>
           
                            </td>
        
          </tr>
                 
        }
                
        
    }
    
        <tr class="text-bg-dark">
    
        <td colspan="2">TOTAL PRICE</td>
        <td> @Model.TotalPrice</td>
                    <td>
                            <a class="btn btn-primary" asp-action="PlaceOrderFromcart" asp-controller="Order" asp-route-ID="@Model.CartId">
                            Place order
                        </a>
                    </td>
                    <td></td>

    </tr>
            </tbody>
    </table>
  
   
    
    
</div>
}

